# ------------------------------ ENVIRONMENT ------------------------------ #
NODE_ENV=DEV
#NODE_ENV=HML
#NODE_ENV=PROD

# -------------------------------- SYSTEM -------------------------------- #
PORT=3000

DEV_V1_SITE_URL=http://localhost:4100
DEV_V1_FRONTEND_URL=http://localhost:4200

HML_V1_SITE_URL=http://localhost:4100
HML_V1_FRONTEND_URL=http://localhost:4200

PROD_V1_SITE_URL=http://localhost:4100
PROD_V1_FRONTEND_URL=http://localhost:4200

# ----------------------------- PAYMENT GATEWAY --------------------------- #
DEV_PAYMENT_GATEWAY_SECRET_KEY=
HML_PAYMENT_GATEWAY_SECRET_KEY=
PROD_PAYMENT_GATEWAY_SECRET_KEY=

# ---------------------------------- JWT ---------------------------------- #
DEV_JWT_SECRET=9a99d3a1b7c95e98126f4e4f804d97d75632d23a0f3c03b6f4a55e8f84e4a7d0
HML_JWT_SECRET=9a99d3a1b7c95e98126f4e4f804d97d75632d23a0f3c03b6f4a55e8f84e4a7d0
PROD_JWT_SECRET=9a99d3a1b7c95e98126f4e4f804d97d75632d23a0f3c03b6f4a55e8f84e4a7d0

# ------------------------------- SWAGGER --------------------------------- #
SWAGGER_ENABLED=true
SWAGGER_TITLE='Novo Projeto API'
SWAGGER_DESCRIPTION='Novo Projeto API'
SWAGGER_VERSION=1.0

# -------------------------------- DATABASE ------------------------------- #
DEV_DB_HOST=postgres
DEV_DB_PORT=5432
DEV_DB_NAME=novo-projeto
DEV_DB_USERNAME=matheus
DEV_DB_PASSWORD=123
DEV_DB_SYNC=true

HML_DB_HOST=postgres
HML_DB_PORT=5432
HML_DB_NAME=novo-projeto
HML_DB_USERNAME=matheus
HML_DB_PASSWORD=123
HML_DB_SYNC=true

PROD_DB_HOST=postgres
PROD_DB_PORT=5432
PROD_DB_NAME=novo-projeto
PROD_DB_USERNAME=matheus
PROD_DB_PASSWORD=123
PROD_DB_SYNC=true

# --------------------------------- REDIS --------------------------------- #
DEV_REDIS_HOST=redis
DEV_REDIS_PORT=6379
DEV_REDIS_PASS=123

HML_REDIS_HOST=redis
HML_REDIS_PORT=6379
HML_REDIS_PASS=123

PROD_REDIS_HOST=redis
PROD_REDIS_PORT=6379
PROD_REDIS_PASS=123

# ------------------------------- RABBITMQ -------------------------------- #
DEV_RABBITMQ_URL=amqp://matheus:123@rabbitmq:5672
DEV_RABBITMQ_USER=matheus
DEV_RABBITMQ_PASSWORD=123

HML_RABBITMQ_URL=amqp://matheus:123@rabbitmq:5672
HML_RABBITMQ_USER=matheus
HML_RABBITMQ_PASSWORD=123

PROD_RABBITMQ_URL=amqp://matheus:123@rabbitmq:5672
PROD_RABBITMQ_USER=matheus
PROD_RABBITMQ_PASSWORD=123

# --------------------------------- EMAIL --------------------------------- #
DEV_EMAIL_HOST=sandbox.smtp.mailtrap.io
DEV_EMAIL_PORT=2525
DEV_EMAIL_SECURE=false
DEV_EMAIL_USER=b1accb24377678
DEV_EMAIL_PASSWORD=

HML_EMAIL_HOST=sandbox.smtp.mailtrap.io
HML_EMAIL_PORT=2525
HML_EMAIL_SECURE=false
HML_EMAIL_USER=b1accb24377678
HML_EMAIL_PASSWORD=

PROD_EMAIL_HOST=sandbox.smtp.mailtrap.io
PROD_EMAIL_PORT=2525
PROD_EMAIL_SECURE=false
PROD_EMAIL_USER=b1accb24377678
PROD_EMAIL_PASSWORD=

# --------------------------------- MAILJET ------------------------------- #
DEV_MAILJET_API_KEY=test
DEV_MAILJET_SECRET_KEY=test
DEV_EMAIL_FROM=test@localhost

HML_MAILJET_API_KEY=test
HML_MAILJET_SECRET_KEY=test
HML_EMAIL_FROM=test@localhost

PROD_MAILJET_API_KEY=test
PROD_MAILJET_SECRET_KEY=test
PROD_EMAIL_FROM=test@localhost

# ---------------------------------- GCP ---------------------------------- #
DEV_GCP_CREDENTIALS=test
DEV_GCP_PROJECT_ID=test
DEV_GEMINI_API_KEY=

HML_GCP_CREDENTIALS=test
HML_GCP_PROJECT_ID=test
HML_GEMINI_API_KEY=

PROD_GCP_CREDENTIALS=test
PROD_GCP_PROJECT_ID=test
PROD_GEMINI_API_KEY=

# --------------------------------- TAWK_TO ------------------------------- #
DEV_TAWK_TO_SECRET=test
HML_TAWK_TO_SECRET=test
PROD_TAWK_TO_SECRET=test

# ----------------------------- OBSERVABILITY ----------------------------- #
OBS_LOGS_ENABLED=true
OBS_METRICS_ENABLED=true
OBS_TRACES_ENABLED=true
OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4318