# node
node_modules
dist
build
coverage
.nyc_output

# git
.git
.gitignore
.github
.gitlab-ci.yml

# env
.env
devops/.env

# observability
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
.vscode
.idea
*.swp
*.swo

# os
.DS_Store
Thumbs.db

# temp
.tmp
.temp
.cache

# container data
data/
