# build
dist
build
node_modules

# observability
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# os
.DS_Store

# tests
coverage
.nyc_output

# ide
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
devops/env/.env*
!devops/env/.env.example

# temp
.temp
.tmp

# runtime
pids
*.pid
*.seed
*.pid.lock

# reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json