# ------------------------------ ENVIRONMENT ------------------------------ #
NODE_ENV=production

# -------------------------------- SYSTEM --------------------------------- #
PORT=3000
V1_SITE_URL: "http://localhost:4100",
V1_FRONTEND_URL=http://localhost:4200

# ---------------------------------- JWT ---------------------------------- #
JWT_SECRET=9a99d3a1b7c95e98126f4e4f804d97d75632d23a0f3c03b6f4a55e8f84e4a7d0

# ------------------------------- SWAGGER --------------------------------- #
SWAGGER_ENABLED=true
SWAGGER_TITLE="Edital Certo API"
SWAGGER_DESCRIPTION="Edital Certo API"
SWAGGER_VERSION=1.0

# -------------------------------- DATABASE ------------------------------- #
DB_HOST=edital-certo
DB_USERNAME=postgres
DB_PASSWORD=
DB_PORT=5432
DB_NAME=edital-certo
DB_SYNC=true

# --------------------------------- REDIS --------------------------------- #
REDIS_PASS=secret

# ------------------------------- RABBITMQ -------------------------------- #
RABBITMQ_URL=amqp://rabbitmq:5672
# RABBITMQ_URL=amqp://localhost:5672  #Se for rodar local
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=

# --------------------------------- MAILJET ------------------------------- #
MAILJET_API_KEY=sua_key
MAILJET_SECRET_KEY=seu_secret
EMAIL_FROM=@cuidatoria.com.br

# ---------------------------------- GCP ---------------------------------- #
GCP_CREDENTIALS=chave
GCP_PROJECT_ID=
GEMINI_API_KEY=

# --------------------------------- TAWK_TO ------------------------------- #
TAWK_TO_SECRET=chave

# ----------------------------- OBSERVABILITY ----------------------------- #
OBS_LOGS_ENABLED=true
OBS_METRICS_ENABLED=true
OBS_TRACES_ENABLED=false
OTEL_EXPORTER_OTLP_ENDPOINT=http://seu-lgtm:4318